<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title> <% title %>  </title>
<style>
body {
        background: #C0CADC;
        color: #000;   
}
                        
h1,p {
        text-align: center;
}
</style>
</head> 

<body>

        <h1>Restful Api</h1>
        <p>Bienvenue sur mon Api</p> 
</body>
</html> 