<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title> <% EJS %>  </title>
    
</head> 
<style>
body {
       background: #C0CADC;
       color: #000;  
}
        
h1, p {
        text-align: center;
}
</style>
<body>
    <h1>Restful Api</h1>
    <p>Bienvenue </p>      
</html> 